div {
    margin-top: 70px;
}

div {
    min-width: 200px;
    position: relative;
}

div > ul {
    margin: 0 70px;
}

div > ul > li {
    list-style-type: none;
    margin-top: 15px;
}

div > ul > li#logout {
    margin-top: 80px;
}

div > ul > li.active {
    display: none;
}

@media screen and (max-width: 640px) {
    div {
        margin-top: 0;
    }

    div > ul {
        margin: 0 30px;
    }

    div > ul > li {
        display: inline-block;
        margin: 10px;
    }
}

@media screen and (max-width: 375px) {
    div > ul {
        margin: 0;
    }
}

@media screen and (max-width: 320px) {
    div > ul > li {
        margin: 5px;
    }
}