#pic-detail {
  margin-top: 70px;
}

//navbar
#pic-detail > div#nav {
  max-width: 230px;
}

#pic-detail > div#nav > ul {
  text-align: center;
  padding: 0;
  margin: 0;
}

#pic-detail > div#nav > ul > li {
  list-style: none;
}

#pic-detail > div#nav > ul:nth-child(2) {
  margin-top: 20px;
}

#pic-detail > div#nav > ul > li:nth-child(2) > a,
#pic-detail > div#nav > ul > li > button {
  width: 50px;
  display: inline-block;
  height: 50px;
  border: 2px solid #ffffff;
  box-sizing: border-box;
  margin-top: 10px;
}

#pic-detail > div#nav > ul > li:nth-child(2) > a {
  border: 1px solid #ffffff;
}

#pic-detail > div#nav > ul > li:nth-child(3) > button,
#pic-detail > div#nav > ul > li:nth-child(4) > button {
  margin-top: 6px;
}

#pic-detail > div#nav > ul > li > button.not-allowed {
  cursor: not-allowed;
  opacity: 0.65;
}

#pic-detail > div#nav > ul > li > button > img {
  width: 100%;
}

//photo
#pic-detail > div#pic {
  padding-right: 30px;
}

#pic-detail > div#pic > img.photo {
  border: 2px solid #fff;
  padding: 2px;
  position: relative;
  margin: 0 auto;
  max-width: 100%;
  height: auto;
  max-height: 80vh;
}

#pic-detail > div#pic > img.loader {
  height: 70px;
  width: 70px;
}

#caption {
  font-size: 1em;
  font-weight: bold;
  color: white;
  text-transform: lowercase;
}

#caption::first-letter {
  text-transform: uppercase;
}

@media screen and (max-width: 640px) {
  #pic-detail > div#nav {
    margin-bottom: 70px;
    max-width: none;
  }

  #pic-detail > div#nav > ul {
    margin: 0;
  }

  #pic-detail > div#nav > ul > li {
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
  }

  #pic-detail > div#nav > ul > li:first-child {
    margin-top: 10px;
  }

  #pic-detail > div#nav > ul > li:nth-child(2) {
    margin-right: 20px;
  }

  #pic-detail > div#pic {
    text-align: center;
    padding-right: 8px;
  }
  #pic-detail > div#pic > img.photo {
    max-height: calc(80vh - 204px);
  }
}
