<div id="gallery">
  <nav>
    <ul>
      <li *ngFor="let c of color_collection">
        <!-- <a *ngIf="c.name != 'black-white'"[routerLink]="['/gallery', { color: c.name }]" class="{{c.name}}" [ngStyle]="{'background-color':c.hexacode}"></a>
            <a *ngIf="c.name === 'black-white'" [routerLink]="['/gallery', { color: c.name }]" class="{{c.name}}" [ngStyle]="{'background':'repeating-linear-gradient( 45deg, #000000, #000000 16.666%, #ebebeb 16.666%, #ebebeb 33.334% )'}"></a> -->
        <a
          [routerLink]="['/gallery', { color: c.name, page: 1 }]"
          class="{{ c.name }}"
          [ngStyle]="{ 'background-color': c.hexacode }"
        ></a>
      </li>
    </ul>
  </nav>
  <div id="cadre">
    <div id="hautg"><img src="assets/img/recent_hg.jpg" /></div>
    <div id="hautd">
      <a routerLink="/">
        <img src="assets/img/menusmall.jpg" />
      </a>
    </div>
    <div id="gauche"><img src="assets/img/recent_g.jpg" /></div>

    <div id="gallery_mini" class="">
      <!--zone d'affichage des phtos-->
      <!--ici boucle d"affichage des 16 photos-->
      <ul id="thumbnailsList">
        <li *ngFor="let p of picture_collection">
          <div class="square {{ p.orientation }}">
            <a [routerLink]="['/recent', p.id]" class="preview">
              <img
                appPreview
                src="{{ baseUrl }}{{ p.thumb_name }}"
                class="tn"
              />
            </a>
          </div>
        </li>
      </ul>
    </div>
    <!-- fin zone d'affichage des photos -->
    <!--fin boucle ici-->
    <div id="droit"><img src="assets/img/recent_d.jpg" /></div>
    <div id="bas"><img src="assets/img/recent_b.jpg" /></div>
  </div>
  <!--fin cadre-->
</div>
