#cadre li { display: inline; } 

#page {
    float: none;
    position: absolute;
    right: 18px;
    top: 10px;
}

#cadre.white #page {
    right: 14px;
    top: 6px;
}

#cadre.black-white #page {
    right: 0;
}

#cadre #page a {
    color: #ebebeb;
    text-decoration: none;
    font-family: cursive;
    font-size: 1.5em;
}
#cadre #page a#page_1 {
    padding-right: 1px;
}
#cadre.yellow #page a,
#cadre.white #page a {
    color: #000000;
}

#cadre.black-white #page a#page_2 {
    background-color: black;
    padding: 10px 17px 7px;
}
#cadre.black-white #page a#page_1 {
    background-color: black;
    padding: 10px 20px 7px 18px;
}

#gallery > nav > ul > li > a.white {
    height: 37px;
    width: 37px;
    box-shadow: 0 0 0 2px #000000, 0 0 0 4px #ebebeb;
    margin-left: 4px;
    margin-bottom: 4px;
    margin-top: 4px;
}

#gallery > nav > ul > li > a.black-white {
    /* background: repeating-linear-gradient( 45deg, #000000, #000000 16.666%, #ebebeb 16.666%, #ebebeb 33.334% ); */
    background: repeating-linear-gradient( 45deg, #000000, #000000 5%, #ebebeb 5%, #ebebeb 10% );
}

.tn {

}

#thumbnailsList {
    margin: 0;
    padding-left: 7px;
}

#thumbnailsList .square {
    height: 75px;
    width: 75px;
    padding: 0 10px 18px 10px;
}

#thumbnailsList li:nth-child(1) .square,
#thumbnailsList li:nth-child(2) .square,
#thumbnailsList li:nth-child(3) .square,
#thumbnailsList li:nth-child(4) .square
{
    padding: 18px 10px;
}

#thumbnailsList .landscape {
    display: table-cell;
    vertical-align: middle;
}

#thumbnailsList .portrait {
    display: inline-block;
    vertical-align: bottom;
}

#thumbnailsList .square img {
    max-width: 100%;
    max-height: 100%;
    border: none;
    display: block;
    margin: 0 auto;
    border: 1px solid white;
    transition: transform 0.5s ease;    
}

#thumbnailsList .square img:hover {
    -moz-transform: scale(1.4); 
    -webkit-transform: scale(1.4); 
    -o-transform: scale(1.4); 
    transform: scale(1.4); 
}

#preview {
    position:absolute;
    border:1px solid #ccc;
}


/* parametre de cadre hachuré de la gallerie noir et blanc */
#cadre.black-white {
    width: 514px;
    height: 497px;
    position: relative;
    /* background: repeating-linear-gradient( 45deg, #ebebeb, #ebebeb 9%, #000000 9%, #000000 20.2% ); */
    background: repeating-linear-gradient( 45deg, #ebebeb, #ebebeb 0.3%, #000000 0.5%, #000000 0.9% );
}



#gallery_mini.black-white {
    position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  background-color: #000000;
}