div.ui-g-12.ui-md-10.ui-g-nopad.landscape > img {
    width: 70%;
}

div.ui-g-12.ui-md-10.ui-g-nopad > div.ui-g-12.ui-md-4.ui-g-nopad > img {
    width: 100%;
    border: 1px solid #fff;
    padding: 2px;
    position: relative;
    margin: 0 auto;
}

/* div.ui-g-12.ui-md-10.ui-g-nopad > img.double-border {
    border: 1px solid #fff;
    padding: 2px;
    position: relative;
    margin: 0 auto;
} */