<!-- <head>
  <link rel="stylesheet" href="https://unpkg.com/bootstrap@3.3.7/dist/css/bootstrap.min.css">
</head> -->

<div class="ui-g ui-g-nopad">
  <div class="ui-g-12 ui-md-2 ui-g-nopad">
      <ul>
          <li>
              <a routerLink="/">
              <img src="assets/img/menusmall.jpg" width="45" height="45">
              </a>
          </li>
          <li>
              <a routerLink="/backend">Backend</a>
          </li>
      </ul>
  </div>
  <div class="ui-g-12 ui-md-10 ui-g-nopad">
      <h1>Edit picture</h1>
      <div class="ui-g-12 ui-md-4 ui-g-nopad {{picture.orientation}}">
        <img src="{{baseUrl}}{{picture.file_name}}" class="double-border">
      </div>
      <form class="ui-g-12 ui-md-7 ui-md-offset-1 ui-g-nopad" #pictureForm="ngForm">

          <div class="form-group">
              <label class="control-label col-sm-4" for="place">Place<span class="asterisk">*</span></label>
              <input type="text" class="form-control" id="place" required [(ngModel)]="place" name="place" #placeName="ngModel">
              <div [hidden]="placeName.valid || placeName.pristine" class="alert alert-danger">Place is required</div>                       
          </div>
          <div class="form-group">
              <label class="control-label col-sm-4" for="year">Year<span class="asterisk">*</span></label>
              <input type="text" class="form-control" id="year" minlength="4" maxlength="4" required [(ngModel)]="year" name="year" #picYear="ngModel">
              <div [hidden]="picYear.valid || picYear.pristine" class="alert alert-danger">Year is required</div>              
          </div>
          <div class="form-group">
              <label class="control-label col-sm-4" for="month">Month<span class="asterisk">*</span></label>
              <select name="month" class="form-control" id="month" required [(ngModel)]="month" #picMonth="ngModel">
                  <option value="">---</option>
                  <option value="janvier">janvier</option>
                  <option value="fevrier">février</option>
                  <option value="mars">mars</option>
                  <option value="avril">avril</option>
                  <option value="mai">mai</option>
                  <option value="juin">juin</option>
                  <option value="juillet">juillet</option>
                  <option value="aout">août</option>
                  <option value="septembre">septembre</option>
                  <option value="octobre">octobre</option>
                  <option value="novembre">novembre</option>
                  <option value="decembre">décembre</option>
              </select>
              <div [hidden]="picMonth.pristine || picMonth.value != ''" class="alert alert-danger">Month is required</div>
          </div>
          <div class="form-group">
              <label class="control-label col-sm-4" for="color">Color<span class="asterisk">*</span></label>
              <!-- <input type="text" class="form-control" id="color" [(ngModel)]="color" name="color" required>       -->
              <select name="color" class="form-control" id="color" required [(ngModel)]="newColor" #picColor="ngModel">
                  <option value="">---</option>
                  <option *ngFor="let col of colors" [value]="col.name">{{col.name}}</option>
              </select>
              <div [hidden]="picColor.pristine || picColor.value != ''" class="alert alert-danger">A color is required</div>
          </div>
          
          <div class="form-group">        
              <div class="text-center">
                  <button type="submit" class="btn btn-success" [disabled]="!pictureForm.form.valid" (click)="modifyPic()">Enregistrer les modifications</button>             
              </div>
          </div>
      {{message}}
      </form>
      <div class="ui-g-12 ui-md-7 ui-md-offset-1 ui-g-nopad">
        <button type="button" class="btn btn-danger" (click)="removePic()">Supprimer la photo</button>
      </div>
  </div>
</div>
