div.container {
    margin-top: 70px;
}

div.container h1 {
    margin-top: 10px;
    padding-left: 8px;
} 

.thumbnailsList {
    width: 415px;
    margin: 0;
    padding-left: 7px;
    border: 1px solid white;
}

.thumbnailsList > li {
    display: inline-block;
    
} 

.thumbnailsList .square {
    height: 75px;
    width: 75px;
    padding: 0 10px 18px 10px;
}

.thumbnailsList li:nth-child(1) .square,
.thumbnailsList li:nth-child(2) .square,
.thumbnailsList li:nth-child(3) .square,
.thumbnailsList li:nth-child(4) .square
{
    padding: 18px 10px;
}

.thumbnailsList .landscape {
    display: table-cell;
    vertical-align: middle;
}

.thumbnailsList .portrait {
    display: inline-block;
    vertical-align: bottom;
}

.thumbnailsList .square img {
    max-width: 100%;
    max-height: 100%;
    border: none;
    display: block;
    margin: 0 auto;
    border: 1px solid white;
    cursor: move;
    cursor: grab;
    cursor: -moz-grab;
    cursor: -webkit-grab;    
}

.gu-mirror {
    list-style: none;
    cursor: grabbing;
    cursor: -moz-grabbing;
    cursor: -webkit-grabbing;
}
.gu-mirror img {width: 75px;}