/* You can add global styles to this file, and also import other style files */

@import "~@angular/material/prebuilt-themes/indigo-pink.css";

body{
    background-color: black;
    /* background-color: #ffffff; */
    color: #ebebeb;
    font-family: arial,x-locale-body,sans-serif;
}

#main{
    width: 510px;
    height: 520px;
    border: solid 2px #ffffff;
    /*margin: 0 auto;*/
    margin: 70px 0 0 230px;
}
  
/* ICI COPIE/COLLE MAIN CSS DS NOTEPAD */

/*message d'erreur ou de succès*/
.error_info_message{
        background-color: red;
}
.success_info_message{
        background-color: green;
}

button:focus {outline:0;}

button.btn[disabled] {
        cursor: not-allowed;
        opacity: 0.65;
      }

.btn {
        display: inline-block;
        font-weight: 400;
        text-align: center;
        white-space: nowrap;
        vertical-align: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        border: 1px solid transparent;
        padding: .375rem .75rem;
        font-size: 1rem;
        line-height: 1.5;
        border-radius: .25rem;
        transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
        cursor: pointer;
}

.btn-danger {
        color: #fff;
        background-color: #dc3545;
        border-color: #dc3545;
}

.btn-danger:hover:enabled {
        color: #fff;
        background-color: #c82333;
        border-color: #bd2130;
}

.btn-success {
        color: #fff;
        background-color: #28a745;
        border-color: #28a745;
}

.btn-success:hover:enabled {
        color: #fff;
        background-color: #218838;
        border-color: #1e7e34;
}

.btn-light {
        color: #212529;
        background-color: #d3dbe2;
        border-color: #d3dbe2;
}

.btn-light:hover {
        color: #212529;
        background-color: #afb5b9;
        border-color: #afb5b9;
}

.alert {
        position: relative;
        padding: .75rem 1.25rem;
        margin-bottom: 1rem;
        border: 1px solid transparent;
        border-radius: .25rem;
    }

.alert-danger {
        color: #721c24;
        background-color: #f8d7da;
        border-color: #f5c6cb;
}

.alert-success {
        color: #155724;
        background-color: #d4edda;
        border-color: #c3e6cb;
}
  
  
/*page GALLERY*/
#gallery {
        /*color: white; pour test sur fond noir*/
        margin-top: 70px;
}

/*NAV*/
nav{
        float: left;        
}

nav ul {
        display:inline-block;
        margin: 0 72px;
}
  
nav ul li{
        list-style-type: none;
}

nav ul li a{
        display:inline-block;
        height:45px;
        width:45px;
        border: 2px solid white;
        box-sizing: border-box;
}
nav ul li a[style="background-color:#ebebeb;"]{
        height:42px;
        width:42px;
        margin: 4px;
        -webkit-box-shadow: 0 0 0 2px #000000, 0 0 0 4px #ebebeb;
        -moz-box-shadow: 0 0 0 2px #000000, 0 0 0 4px #ebebeb;
        box-shadow: 0 0 0 2px #000000, 0 0 0 4px #ebebeb;
}
nav ul li:first-child a{
        border: none;
        margin-bottom: 15px;
}