/* You can add global styles to this file, and also import other style files */

@import "~@angular/material/prebuilt-themes/indigo-pink.css";

body{
    background-color: black;
    /* background-color: #ffffff; */
    color: #ebebeb;
    font-family: cursive;
}

#main{
    width: 510px;
    height: 520px;
    border: solid 2px #ffffff;
    /*margin: 0 auto;*/
    margin: 70px 0 0 230px;
}
  
/* ICI COPIE/COLLE MAIN CSS DS NOTEPAD */

/*message d'erreur ou de succès*/
.error_info_message{
        background-color: red;
}
.success_info_message{
        background-color: green;
}
  
  
/*page GALLERY*/
#gallery {
        /*color: white; pour test sur fond noir*/
        margin-top: 70px;
}

/*NAV*/
nav{
        float: left;        
}

nav ul {
        display:inline-block;
        margin: 0 72px;
}
  
nav ul li{
        list-style-type: none;
}

nav ul li a{
        display:inline-block;
        height:45px;
        width:45px;
        border: 2px solid white;
        box-sizing: border-box;
}
nav ul li a[style="background-color:#ebebeb;"]{
        height:42px;
        width:42px;
        margin: 4px;
        -webkit-box-shadow: 0 0 0 2px #000000, 0 0 0 4px #ebebeb;
        -moz-box-shadow: 0 0 0 2px #000000, 0 0 0 4px #ebebeb;
        box-shadow: 0 0 0 2px #000000, 0 0 0 4px #ebebeb;
}
nav ul li:first-child a{
        border: none;
        margin-bottom: 15px;
}