/* .img-container {
    height: 820px;      landscape and portrait
    width: 58%;     landscape
    max-width: 1110px;
    background-position: center;
    background-repeat: no-repeat;
    align-content: center;
    background-size: 100%;
    top: 70px;
    left: 238px;
    border: 2px solid #ebebeb;
    position: fixed;
}

.img-container.portrait {
    width: 32%;
} */

$white: "Blanc";
$black-white: "Noir-Blanc";

#pic-detail {
  margin-top: 70px;
}

#pic-detail > div#nav {
  min-width: 230px;
}

#pic-detail > div#nav > ul {
  margin: 0 70px;
}

#pic-detail > div#nav > ul > li {
  list-style: none;
}

#pic-detail > div#nav > ul:nth-child(2) {
  margin-top: 20px;
}

#pic-detail > div#nav > ul > li:nth-child(2) > a,
#pic-detail > div#nav > ul > li > button {
  width: 50px;
  display: inline-block;
  height: 50px;
  border: 2px solid #ffffff;
  box-sizing: border-box;
  margin-top: 10px;
}

#pic-detail > div#nav > ul > li:nth-child(3) > button,
#pic-detail > div#nav > ul > li:nth-child(4) > button {
  margin-top: 6px;
}

#pic-detail > div#nav > ul > li:nth-child(2) > a.#{$white},
#pic-detail > div#nav > ul > li > button.#{$white},
#pic-detail > div#nav > ul > li > button.#{$black-white} {
  height: 42px;
  width: 42px;
  margin: 10px 4px 4px;
  -webkit-box-shadow: 0 0 0 2px #000000, 0 0 0 4px #ebebeb;
  -moz-box-shadow: 0 0 0 2px #000000, 0 0 0 4px #ebebeb;
  box-shadow: 0 0 0 2px #000000, 0 0 0 4px #ebebeb;
}

#pic-detail > div#nav > ul > li > button.not-allowed {
  cursor: not-allowed;
  opacity: 0.65;
}

#pic-detail > div#nav > ul > li > button > img {
  width: 100%;
}

#pic-detail > div#nav > ul > li:nth-child(2) > a.#{$black-white} {
  background: repeating-linear-gradient(
    45deg,
    #000000,
    #000000 4%,
    #ebebeb 5%,
    #ebebeb 8%
  );
}

#pic-detail > div#pic > img.double-border {
  border: 2px solid #fff;
  padding: 2px;
  position: relative;
  margin: 0 auto;
}

#pic-detail > div#pic > img.loader {
  height: 70px;
  width: 70px;
}

#pic-detail > div#pic > img {
  /* width: 70%; */
  /* height: calc(100vh - 200px); */
  height: 80vh;
}

#caption {
  font-size: 1em;
  // font-family: cursive;
  font-weight: bold;
  color: white;
  text-transform: lowercase;
}

#caption::first-letter {
  text-transform: uppercase;
}

@media screen and (max-width: 1440px) {
  #pic-detail > div#pic > img {
    /* height: calc(100vh - 280px); */
    height: 80vh;
  }
}

/* ipad pro */
@media screen and (max-width: 1370px) {
  #pic-detail > div#pic > img {
    height: 75vh;
  }

  #pic-detail > div#pic > img.loader {
    height: 70px !important;
    width: 70px !important;
    margin: 0 auto !important;
  }
}
@media screen and (max-width: 1024px) and (min-height: 1366px) {
  #pic-detail > div#pic.portrait > img {
    /* height: calc(100vh - 500px); */
    height: 65vh;
  }

  #pic-detail > div#pic.landscape > img {
    /* height: calc(100vh - 870px); */
    height: 37vh;
  }
}

/*ipad*/
@media screen and (max-width: 1024px) and (max-height: 768px) {
  /* #pic-detail > div#pic.portrait > img {
        height: calc(100vh - 200px);
    } */

  #pic-detail > div#pic.landscape > img {
    /* height: calc(100vh - 280px); */
    height: 65vh;
  }
}

/* iphoneX landscape*/
@media screen and (max-width: 812px) and (max-height: 375px) {
  #pic-detail > div#pic.portrait > img,
  #pic-detail > div#pic.landscape > img {
    /* height: calc(100vh - 200px); */
    height: 60vh;
  }
}

@media screen and (max-width: 768px) {
  #pic-detail > div#pic.portrait > img {
    /* height: calc(100vh - 450px); */
    height: 55vh;
  }

  #pic-detail > div#pic.landscape > img {
    /* height: calc(100vh - 700px); */
    height: 33vh;
  }

  #pic-detail > div#pic > img.loader {
    height: 70px;
    width: 70px !important;
    margin: 0 auto !important;
  }
}

@media screen and (max-width: 768px) and (min-height: 1280px) {
  #pic-detail > div#pic.portrait > img {
    height: 45vh;
  }

  #pic-detail > div#pic.landscape > img {
    height: 25vh;
  }
}

/* iphone 6/7/8 Plus landscape */
@media screen and (max-width: 736px) {
  #pic-detail > div#pic.portrait > img {
    height: 60vh;
  }

  #pic-detail > div#pic.landscape > img {
    height: 63vh;
  }
}

@media screen and (max-width: 640px) {
  #pic-detail > div#nav {
    margin-bottom: 70px;
  }

  #pic-detail > div#nav > ul {
    margin: 0;
  }

  #pic-detail > div#nav > ul > li {
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
  }

  #pic-detail > div#nav > ul > li:first-child {
    margin-top: 10px;
  }

  #pic-detail > div#nav > ul > li:nth-child(2) {
    margin-right: 20px;
  }
}

/* galaxy S5 / iphone 5 landscape */
@media screen and (max-width: 640px) and (max-height: 360px) {
  #pic-detail > div#nav {
    min-width: 0 !important;
    width: 30%;
  }

  #pic-detail > div#pic {
    width: 70%;
  }

  #pic-detail > div#pic > img {
    height: 55vh !important;
  }
}

@media screen and (max-width: 425px) {
  #pic-detail {
    margin-top: 2vh;
  }

  #pic-detail > div#nav {
    text-align: center;
  }

  #pic-detail > div#nav > ul {
    padding: 0;
  }

  #pic-detail > div#nav > ul > li:last-child {
    margin-right: 0;
  }

  #pic-detail > div#pic > img.loader {
    position: fixed;
    top: 50%;
    left: 50%;
    /* bring your own prefixes */
    transform: translate(-50%, -50%);
  }

  #pic-detail > div#pic > img {
    width: 100%;
    height: auto !important;
    box-sizing: border-box;
  }

  #pic-detail > div#pic.portrait > img,
  #pic-detail > div#pic.portrait > #caption {
    width: 66%;
    margin-left: 17% !important;
  }
}

@media screen and (max-width: 425px) and (max-height: 640px) {
  #pic-detail,
  #pic-detail > div#pic {
    margin-top: 0;
  }
}

/* iphone 6/7/8 portrait*/
@media screen and (max-width: 425px) and (min-height: 641px) {
  // #pic-detail > div#pic.landscape {
  //     // margin-top: 7vh;
  // }

  #pic-detail > div#pic.portrait > img,
  #pic-detail > div#pic.portrait > #caption {
    width: 82%;
    margin-left: 9% !important;
  }

  #pic-detail > div#pic > img.loader {
    height: 70px;
    width: 70px !important;
    margin: 0 auto !important;
  }
}

/* iphone 6/7/8 Plus portrait */
@media screen and (max-width: 425px) and (min-height: 736px) {
  #pic-detail {
    margin-top: 2vh;
  }

  #pic-detail > div#pic.portrait > img,
  #pic-detail > div#pic.portrait > #caption {
    width: 86%;
    margin-left: 7% !important;
  }

  #pic-detail > div#pic > img.loader {
    height: 70px;
    width: 70px !important;
    margin: 0 auto !important;
  }
}

/* iphoneX portrait*/
@media screen and (max-width: 425px) and (min-height: 800px) {
  #pic-detail {
    margin-top: 3vh;
  }

  #pic-detail > div#pic {
    margin-top: 9vh;
  }

  #pic-detail > div#pic.portrait > img,
  #pic-detail > div#pic.portrait > #caption {
    width: 100%;
    margin-left: 0 !important;
  }

  #pic-detail > div#pic > img.loader {
    height: 70px;
    width: 70px !important;
    margin: 0 auto !important;
  }
}

@media screen and (max-width: 360px) {
  // #pic-detail > div#pic.landscape {
  //     // margin-top: 10vh;
  // }

  #pic-detail > div#pic.portrait > img,
  #pic-detail > div#pic.portrait > #caption {
    width: 82%;
    margin-left: 9% !important;
  }

  #pic-detail > div#pic > img.loader {
    height: 70px;
    width: 70px !important;
    margin: 0 auto !important;
  }
}

@media screen and (max-width: 320px) {
}
