<div id="pic-detail" class="ui-g ui-g-nopad">
    <div id="nav" class="ui-g-12 ui-md-2 ui-g-nopad">
        <ul>
            <li>
              <a routerLink="/">
                <img src="assets/img/menusmall.jpg" width="50" height="50" alt="Accueil">
              </a>
            </li>
            <li>
                <a [routerLink]="['/gallery', { color: color, page: 1 }]" class="{{color}}" [ngStyle]="{'background-color':hexacode}"></a>
              
          </li>
        </ul>
    </div>
    <div id="pic" class="ui-g-12 ui-md-6 ui-g-nopad {{picture.orientation}}">
        <img src="{{baseUrl}}{{picture.file_name}}" class="double-border">
        <div id="caption">{{picture.place}}, {{picture.month}} {{picture.year}}</div>
    </div>
</div>