<app-nav-backend></app-nav-backend>
<div [hidden]="pwdChanged"class="container ui-g-12 ui-md-6 ui-g-nopad">
    <h1>Changer le mot de passe</h1>
    <form (ngSubmit)="onSubmit()" #mdpForm="ngForm">

        <div class="ui-g-12 ui-md-12">
            <label class="ui-g-12 ui-md-12 ui-lg-7 ui-g-nopad" for="place">Ancien mot de passe</label>
            <input type="password" class="ui-g-12 ui-md-12 ui-lg-5" id="oldpwd" required [(ngModel)]="oldpwd" name="oldpwd" #oldpass="ngModel">
            <div [hidden]="oldpass.valid || oldpass.pristine" class="ui-g-12 ui-md-12 ui-lg-5 ui-lg-offset-7 alert alert-danger">Veuillez saisir votre ancien mot de passe</div>
        </div>
        <div class="ui-g-12 ui-md-12">
            <label class="ui-g-12 ui-md-12 ui-lg-7 ui-g-nopad" for="year">Nouveau mot de passe</label>
            <input type="password" class="ui-g-12 ui-md-12 ui-lg-5" id="newpwd" required [(ngModel)]="newpwd" name="newpwd" #newpass="ngModel">
            <div [hidden]="newpass.valid || newpass.pristine" class="ui-g-12 ui-md-12 ui-lg-5 ui-lg-offset-7 alert alert-danger">Veuillez saisir le nouveau mot de passe</div>
        </div>
        <div class="ui-g-12 ui-md-12">
            <label class="ui-g-12 ui-md-12 ui-lg-7 ui-g-nopad" for="year">Confirmer le nouveau mot de passe</label>
            <input type="password" class="ui-g-12 ui-md-12 ui-lg-5" id="confpwd" required [(ngModel)]="confpwd" name="confpwd" #confpass="ngModel">
            <div [hidden]="confpass.valid || confpass.pristine" class="ui-g-12 ui-md-12 ui-lg-5 ui-lg-offset-7 alert alert-danger">Veuillez confirmer le nouveau mot de passe</div>
        </div>


        <div class="ui-g-12 ui-md-12 ui-lg-8">
            <button type="submit" class="btn btn-success" [disabled]="!mdpForm.form.valid" (click)="changePwd()">Mettre à jour le mot de passe</button>
        </div>

        <div *ngIf="error" class="ui-g-12 ui-md-12 alert alert-danger"><p>{{msgError}}</p></div>
        

    </form>
 </div>
 <div [hidden]="!pwdChanged" class="changed ui-g-12 ui-md-6 ui-g-nopad">
    <div *ngIf="!error && msgSuccess != ''" class="alert alert-success"><p>{{msgSuccess}}</p></div>
</div>